<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5資訊</title>
    <style>
        table {
            width: 60%;
            margin: 0 auto;
        }

        body {
            background-color: rgb(240, 220, 194);
            text-align: center;
        }

        th {
            background-color: aqua;
        }

        td {
            background-color: rgb(172, 87, 153);
            color: white;
        }

        @media screen and (max-width:1024px) {
            table {
                width: 90%;
            }
        }
    </style>
</head>

<body>
    <h1>全省PM2.5資訊</h1>
    <h3>目前時間:{{data["today"]}}</h3>
    <a href="/">回首頁</a>
    <a href="">重新讀取</a>

    <input type="checkbox" name="" id="check-reload">
    開啟
    <input type="number" name="" id="reload-sec" value="30">秒數
    <form action="" method="POST">
        <select name="sort" id="sort">
            <option value="true">升</option>
            <option value="false">降</option>
        </select>
        <button type="submit">排序</button>
    </form>

    <table border="1">
        <thead>
            <tr>
                {% for th in data["columns"]%}
                <th>{{th}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for tds in data["values"]%}
            <tr>
                {% for td in tds%}
                <td>{{td}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        const checkReload = document.querySelector("#check-reload");
        const reloadSecond = document.querySelector("#reload-sec");
        checkReload.addEventListener("change", () => {
            console.log(checkReload.checked, reloadSecond.value)
            if (checkReload.checked) {
                console.log("start reload!");
                let sec = Number(reloadSecond.value) * 1000;
                setInterval((() => {
                    window.location.reload();
                }), sec);
            }
        });




    </script>
</body>

</html>